{% extends './Base.html' %}

{% block title %}Gestión de Cursos{% endblock %}

{% block body %}

<form class="d-flex" role="search" method="POST" name="fingreso">
    {% csrf_token %}
    <div class="search-container">
        <input class="form-control form-control-sm me-2" type="date" placeholder="Buscar" aria-label="Search" name="fingreso">
        <button class="btn btn-outline-primary btn-warning" type="submit">Buscar</button>
    </div>
</form>

<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h2>Lista de Datos</h2>
    <table class="table table-primary">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Ingreso</th>
                <th>DNI</th>
                <th>Telefono</th>
                <th colspan="2">Opciones de Manejo</th>
            </tr>
        </thead>
        <tbody>
            {% for d in docente %}
            <tr>
                <td>{{ d.IdDocente }}</td>
                <td>{{ d.Nombre }}</td>
                <td>{{ d.Apellido }}</td>
                <td>{{ d.FIngreso }}</td>
                <td>{{ d.Dni }}</td>
                <td>{{ d.Telefono }}</td>
                <td><a href="edicionDocente/{{ d.idDocente }}" class="btn btn-info">Editar</a></td>
                <td><a href="eliminarDocente/{{ d.idDocente }}" class="btn btn-danger">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}